<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <%- include ('../partials/nav.ejs')%>
    <h1>Alternate Armaments</h1>
        <%for(i=0;i< armaments.length;i++){%>
            <div class='card'>
                <%=armaments[i].img%>
                <li><%=armaments[i].name%></li>
            </div>
        <%}%>
</body>
</html>